
@{
    // ViewBag.Title = "ReqIF Bridge";
    var _buildVersion = ViewBag.BuildVersion;
}

<h2>ReqIF4DevOps service is running....(Build Version: @_buildVersion)</h2>
<br />
<h3><b>About ReqIF4DevOps</b></h3>
<p>ReqIF4DevOps allows users to exchange their requirements and data with any tool that supports the ReqIF Standard. It enables the user to define mapping based on their needs while importing the requirements. </p>
<br />
<p>ADO users can now import/export requirements with a single click, thanks to ReqIF4DevOps. Not just that, anybody with a requirement authoring tool that supports the ReqIF Standard can export their requirements to Microsoft ADO, and, similarly, an ADO user can export their requirements to any other tool that supports the ReqIF Standard. </p>
<br />
<p>ReqIF4DevOps provides organized requirements data in the form of individual requirements that may be viewed in terms of attributes, structure, related elements, etc. </p>
<br />
<img src="~/Content/images/ReqIF_Blue.png" />