<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!-- Configration for log4net -->
  <log4net>
    <appender name="BufferingForwarder" type="log4net.Appender.BufferingForwardingAppender">
      <BufferSize value="50000" />
      <Lossy value="false" />
      <Fix value="268" />

      <Evaluator type="log4net.Core.TimeEvaluator">
        <Interval value="3"/>
      </Evaluator>

      <appender-ref ref="RootAppender" />
      <!-- or any additional appenders or other forwarders -->
    </appender>

    <appender name="RootAppender" type="log4net.Appender.RollingFileAppender">

      <!--Log File Path for On-Prem Application - Start -->
      <param name="File" value="${TEMP}\\ReqIF4DevOps\\Reqif-log.txt" />

      <!--<param name="File" value="${TEMP}\\walog\\iG_WebAPI-log.txt" />-->
      <!--Log File Path for On-Prem Application - End -->

      <!-- #IGAzureCloudApp -->
      <!--<param name="File" value="z:\\walog\\iG_WebService-log.txt" />-->
      <!-- #IGAzureCloudApp -->

      <!--Log File Path for VSO Application - Start -->
      <!--<param name="File" value="${SystemDrive}\\inetpub\\wwwroot\\walog\\Dev\\\iG_WebService_Dev-log.txt" />-->
      <!--<param name="File" value="${SystemDrive}\\inetpub\\wwwroot\\walog\\QA\\\iG_WebService_QA-log.txt" />-->
      <!--<param name="File" value="${SystemDrive}\\inetpub\\wwwroot\\walog\\RTM\\\iG_WebService_RTM-log.txt" />-->
      <!--Log File Path for VSO Application - End -->

      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="MaximumFileSize" value="80000KB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />

      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="*mr:%date{dd-MMM-yy HH:mm:ss} [%thread] %-5p %c: %message%newline" />
      </layout>
    </appender>
    <!-- uncomment following section to enable logging for DB operations -->
    <!--
		<appender name="DBAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="${TEMP}\\MiNDdb-operations.txt" />
			<param name="AppendToFile" value="false" />
			<param name="MaxSizeRollBackups" value="5" />
			<param name="MaximumFileSize" value="100KB" />
			<param name="RollingStyle" value="Size" />
			<param name="StaticLogFileName" value="true" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%date{dd-MMM-yy HH:mm:ss} - %m%n" />
			</layout>
		</appender>
		-->
    <!--
		<appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="${TEMP}\\debug.txt" />
			<param name="AppendToFile" value="false" />
			<param name="MaxSizeRollBackups" value="5" />
			<param name="MaximumFileSize" value="100KB" />
			<param name="RollingStyle" value="Size" />
			<param name="StaticLogFileName" value="true" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p [%x] - %m%n" />
			</layout>
		</appender>
		-->


    <!-- Logger for DB operations -->
    <!-- used for db operations -->
    <!-- additivity="false" prevents this logger from inheriting the appenders defined on parent loggers. -->

    <!--
		 Some of the predefined levels recognized by the system are:
			* Off.
			* Fatal.
			* Error.
			* Warn.
			* Info.
			* Debug.
			* All. 
			See http://logging.apache.org/log4net/release/sdk/index.html
		-->
    <logger name="DBLogger" additivity="false">
      <level value="Debug" />
      <appender-ref ref="DBAppender" />
    </logger>


    <!-- 
		defines the root logger.
		All Loggers ultimately inherit from this logger
		Change this value From "Info" to "Debug" for 
		more verbose logging but it might slow application 
		-->
    <root>
      <level value="Debug"/>
      <appender-ref ref="RootAppender" />
    </root>
  </log4net>
</configuration>
